# Python virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model / generated binary files
*.pt
*.npz

# Data files
data/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
